<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Details</title>
</head>
<body>
  {% if course.pk is 1 %}
    <h1><a href="#">{{course}}</a></h1>
    <h2>{{course.insname}}</h2>
    <ul>
      {% for x in AllCourses.set.all %}
        <li>{ x.ct }</li>
      {% endfor %}
    </ul>
  {% elif course.pk is 2 %}
    <h1><a href="#">{{course}}</a></h1>
    <h2>{{course.insname}}</h2>
  {% else %}
    <h1><a href="#">{{course}}</a></h1>
    <h2>{{course.insname}}</h2>
  {% endif %}

  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <form
    action="{% url 'technicalCourses:yourchoice' course.id %}"
    method="POST"
  >
    {% csrf_token %}
    {% for choice in course.details_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">
      {{ choice.ct }}
    </label>
    <br>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
</body>
</html>
